*
{
    margin: 0;
    padding: 0;
}
.main
{
    width: 100%;
    height: 100vh;
    background: url("bg.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    width: 27%;
    height: 80%;
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
    border: 0.1em solid rgba(0,0,0,0.7);
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05em;
}
.box h2
{
    text-align: center;
    padding-top: 5%;
}
.box p
{
    padding-left: 4%;
    margin-top: 5%;
}
#MatricObtained, #MatricTotal, #InterObtained, #InterTotal
{
    padding-left: 3%;
    width: 40%;
    margin-left: 3.5%;
    height: 5%;
    margin-top: 2%;
    letter-spacing: 0.1em;
}
#nts
{
    padding-left: 3%;
    width: 89%;
    margin-left: 3.5%;
    height: 5%;
    margin-top: 2%;
    letter-spacing: 0.1em;
}
#btn
{
    width: 50%;
    height: 8%;
    margin-left: 24%;
    margin-top: 10%;
}